<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="~{fragments/base :: head}"></header>
	<style>
		td, th { text-align: center; }
	</style>
	<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
</head>
<body>
	<div th:insert="~{fragments/base :: top}"></div>

	<div class="container" style="margin-top:80px">
		<div class="row">
			<div class="col-3">
				<aside th:replace="~{fragments/base :: aside}"></aside>
			</div>

			<div class="col-9">
				<main id="main">
					<h3><strong>게시글 쓰기</strong></h3>
					<hr>
					
					<form action="/food/board/insert" method="post" enctype="multipart/form-data">
						<table class="table table-borderless">
							<tr>
								<td style="width: 15%;"><label class="col-form-label">가게 이름</label></td>
								<td style="width: 85%;"><input type="text" name="title" class="form-control"></td>
							</tr>
							<tr>
								<tr>
									<td><label for="phoneNumber" class="col-form-label">가게 번호</label></td>
									<td><input type="text" id="phoneNumber" name="phoneNumber" class="form-control" /></td>
								</tr>
								<tr>
									<td><label for="openTime" class="col-form-label">영업 시작 시간</label></td>
									<td><input type="text" id="openTime" name="openTime" class="form-control" placeholder="오픈 시간"/></td>
								</tr>
								<tr>
									<td><label for="closeTime" class="col-form-label">영업 종료 시간</label></td>
									<td><input type="text" id="closeTime" name="closeTime" class="form-control" placeholder="닫는 시간"/></td>
								</tr>
								<!-- 가게 주소  = address 파일 활용-->
								<td><textarea class="form-control" rows="10" name="content" id="content"></textarea></td>
							</tr>
							<tr>
								<td>
									<div>
										<select class="form-select" name="category" >
											<option value="">카테고리를 선택해주세요</option>
											<option value="한식" ${field eq '한식' ? 'selected' : '' }>한식</option>
											<option value="일식" ${field eq '일식' ? 'selected' : '' }>일식</option>
											<option value="중식" ${field eq '중식' ? 'selected' : '' }>중식</option>
											<option value="양식" ${field eq '양식' ? 'selected' : '' }>양식</option>
										
										</select>
									</div>
								</td>
							
							</tr>
							<tr>
								<td colspan="2">
									<button class="btn btn-primary" type="submit">제출</button>
									<button class="btn btn-secondary" type="reset">취소</button>
								</td>
							</tr>
						</table>						
					</form>

				</main>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/base :: bottom}"></footer>
	<script>
		CKEDITOR.replace('content', {
			filebrowserImageUploadUrl: '/food/file/imageUpload',
			filebrowserUploadMethod: 'form',
			height: 300, width: 700
		});
	</script>
</body>
</html>